:root {
    --c-1: hsl(300, 43%, 22%);
    --c-2: hsl(333, 80%, 67%);

    --n-1: hsl(303, 10%, 53%);
    --n-2: hsl(300, 24%, 96%);
    --n-3: hsl(0, 0%, 100%);

    --f-1: 'Spartan', sans-serif;
}



.social, .social *, .social *::after, .social *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.social 
{
    font-family: var(--f-1);
    padding: 5.4em 0;
    max-width: 1110px;
    font-size: 0.8rem;
}

.social p {
    line-height: 1.6;
}


.social__header {
    text-align: center;
}


.social__title {
    color:var(--c-1);
    margin: 0 auto;
    max-width: 250px;
}

.social__description {
    color:var(--n-1);
    max-width: 307px;
    margin: 2em auto;
}


.social__rating {
    background: var(--n-2);
    color: var(--c-1);
    font-weight: 700;
    font-size: 0.85em;
    padding:1em;
    margin-bottom: 1.2em;
}

.social__rating:last-child {
    margin-bottom: 0;
}


.social__stars {
    margin-bottom: 0.5em;
}


.social__star {
    width: 1.25em;
    margin: 0 0.2em;
}



@media (min-width:768px)
{
    .social {
    font-size: 0.9375rem;
    }
}